<!DOCTYPE html>
<html>
<header class="main_h">
    <title>Gossamyr's End</title>

    <link href='http://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
    <link href='css/login.css' rel='stylesheet' type='text/css'>
    <link href='css/list.css' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</header>

<body>
    
    <!-- start of cover -->
    <div class="hero">
        
        <!-- start of entry form -->
        <div class="login-page">
            <a href="/"><img src="img/logo-1.png" class="logo"></a>
            <h1 style="padding-top: 5px;"><span>Edit Entry</span></h1>
            <p>{{messages.statusMessage}}</p>
            <div class="form">
                <form class="login-form" method="post" action="/edit-entry" enctype="multipart/form-data">
                    <input type="text" name="id" value="{{id}}" hidden>
                    <input type="text" name="image" value="{{image}}" hidden>

                    <input type="text" placeholder="Entry Title" value="{{title}}" name="title" required>
                    <input type="text" placeholder="Author" value="{{author}}" name="author">
                    <select name="type">
                        {% if category == "manga" %}
                            <option value="manga" selected>Manga</option>
                            <option value="webtoon">Webtoon</option>
                            <option value="novel">Light Novel</option>
                        {% endif %}
                        
                        {% if category == "webtoon" %}
                            <option value="manga">Manga</option>
                            <option value="webtoon" selected>Webtoon</option>
                            <option value="novel">Light Novel</option>
                        {% endif %}

                        {% if category == "novel" %}
                            <option value="manga">Manga</option>
                            <option value="webtoon">Webtoon</option>
                            <option value="novel" selected>Light Novel</option>
                        {% endif %}
                    </select>
                    <br><br>
                    <ul class="img-list">
                        <li>
                            <a href="/" style="background-image: url('{{image}}');"></a>
                        </li>
                    </ul>
                    <input type="file" name="image" style="color: black;">
                    <button>Edit</button>
                </form>
            </div>
        </div>
        <!-- end of entry form -->

    </div>
    <!-- end of cover -->

</body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
</html>